<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>20400583611-4p1a5r7p5g6gbdsddrj7003169biip5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20400583611-4p1a5r7p5g6gbdsddrj7003169biip5l</string>
	<key>API_KEY</key>
	<string>AIzaSyDuBTEvDwmrSjEYxYVSqKA3EvOPafJ20Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>20400583611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>achompolov.EatHealthy</string>
	<key>PROJECT_ID</key>
	<string>eathealthy-8251f</string>
	<key>STORAGE_BUCKET</key>
	<string>eathealthy-8251f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:20400583611:ios:5461a287d99b0856</string>
	<key>DATABASE_URL</key>
	<string>https://eathealthy-8251f.firebaseio.com</string>
</dict>
</plist>